
{% extends "base.html" %}
{% block body %}
<div class="container-fluid">
	<h1>Welcome</h1>
	<h2>Temperature: {{temperature}}</h2>
	<h2>Humidity: {{humidity}}</h2>
	<div class="container col-12 col-md-8">
		<img src="{{ url_for('videoFeed') }}" alt="video source not found" style="width: 100%; height: 100%;">
	</div>

	<br>
	<div class="row m-0 mb-4" style="width: 100%;">

		<div class="col-6" >
			{% include "writerModal.html" %}
		</div>
		<div class="col-6" >
			<div id="showWriters" style="width: 100%" class="btn btn-success">show writers</div>
		</div>

	</div>

	<div class="container" id="writers"></div>

</div>
{% endblock %}

{% block scripts%}
<script src="{{url_for('static',filename='js/index.js')}}"></script>

{% endblock%}