{% extends "base.html" %}
{% block body %}

<h1>Recorded videos</h1>
<div class="row m-0" style="width: 100%">
	{% for i in range(files|length) %}
	<div class="col-sm-12 col-md-4 p-4 recorded-video-card">
		<div class="card p-0 m-0">
			<video class=" card-img-top" id="video{{i}}" controls style="width:100%;" preload="none"><source  src="http://stream.lafuentedanel.com/show/{{files[i]}}" type="video/mp4" >
			</video>
			<div class="card-title">
				{{files[i]}}
			</div>
		</div>
	</div>
	{% endfor %}
</div>
<div class="btn btn-secondary" style="width: 100%;opacity: 80%;" id="showMore">Show More</div>
{% endblock %}
{% block scripts%}
<script src="{{url_for('static',filename='js/show.js')}}"></script>

{% endblock%}