{% extends "base.html" %}
{% block body %}

<h1>Recorded videos</h1>
<div class="row m-0" style="width: 100%">
	{% for f in files %}
	<div class="col-sm-12 col-md-4 p-4 ">
		<div class="card p-0 m-0">
			<video class="card-img-top" controls style="width:100%;"><source  src="http://stream.lafuentedanel.com/show/{{f}}" type="video/mp4" >
			</video>
			<div class="card-title">
				{{f}}
			</div>
		</div>
	</div>
	{% endfor %}
</div>

{% endblock %}
{% block scripts%}
<script src="{{url_for('static',filename='js/show.js')}}"></script>

{% endblock%}